<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-new_allowed_traffic"><%=t :new_allowed_traffic %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:back), captive_portal_allowed_traffics_path(@captive_portal) %>
      </li>
    </ul>

    <div class="block" id="new_allowed_traffic">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <%= render 'form' %>

    </div>
  </div>
</div>
<div class="clear"></div>