<%#
# This file is part of the OpenWISP Captive Portal Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h2>
      <a href="#" id="toggle-new_captive_portal"><%=t :new_captive_portal %></a>
    </h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:back), captive_portals_path %>
      </li>
    </ul>

    <div class="block" id="new_captive_portal">

      <p class="meta" id="notice"><%= notice %>&nbsp;</p>

      <%= render 'form' %>

    </div>
  </div>
</div>
<div class="clear"></div>